# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.xcresult

# SPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Env / secrets
*.env
*.p8
*.p12
*.mobileprovision
